footer {
    padding: 30px 0;
    text-align: center;
}

footer h6,
footer p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #464646;
}

@media (max-width:400px) {
    footer h6, form p {
        font-size:14px;
    }
}