.container-sobre-mim {
    max-width:1220px;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:20px;
    background:#EAF2FD;
    padding:65px 20px;
}
.container-sobre-mim h1{
    font-weight:700;
    font-size:32px;
    color:#464646;
}
.container-sobre-mim p {
    font-weight:400;
    font-size:16px;
    max-width: 751px;
}

.sobre-mim-class {
    background:#EAF2FD;
}

.container-sobre-mim img {
    width:150px;
}

@media (max-width:768px) {
    .container-sobre-mim p {
        font-size: 14px;
    }
}